*.pyc
*.so
*.pyd
*~
.#*
*.lprof
*.swp
*.swo
.DS_Store
build
*.pyproj
.pydevproject
.idea
*.xml
.vscode

*cachedir/
dist/

bsi_zoo/tests/data
doc/_build/
doc/generated
doc/auto_examples/
doc/modules/generated/
doc/datasets/generated/
pip-log.txt
*.egg-info/
.tags
tags
.coverage
*.npz
*.fif
*.ipynb